env.PYTHONPATH = "`dirname $PWD`"
env.WORKINGDIR = "`dirname $PWD`"


profiles {
        GPU_kep {
                process.executor = 'local'
                executor.queueSize = 2
                executor.cpus = 20
                executor.capacity = 20
                executor.memory = '120 GB'
        }

        local {
                process.executor = 'local'
                executor.cpus = 1
                executor.capacity = 1
                executor.memory = '4 GB'
                executor.queueSize = 1
                queueSize = 1
        }
        mines {
                process.executor = 'sge'
                executor.queueSize = 100
                executor.queue = "all.q"
    }

        minesBIG {
                process.executor = 'sge'
                executor.queueSize = 300
                executor.queue = "all.q"
        }
}
